<% @page_title = "管理者/カテゴリーページ" %>

<h1 class="headline">ランク追加ページ</h1>

<div class="row">
  <div class="col-sm-12">
    <%= render "rank_form" %>
    <h3>ランク一覧</h3>
    <% @ranks.each do |rank| %>
      <%= link_to rank.name, admins_rank_path(rank.id) %>
    <% end %>
  </div>
</div>