<% @page_title = "管理者/レッスンページ" %>

<h1 class="page-header">レッスン一覧ページ</h1>
<%= link_to "レッスン追加ページへ", new_admins_lesson_path %>

<div class="row">
  <div class="col-sm-12">
    <% @categories.each do |category| %>
      <%= category.name %>
      <% category.lessons.each do |lesson| %>
        <%= link_to lesson.name, admins_lesson_path(lesson.id) %>
      <% end %>
    <% end %>
  </div>
</div>