<% @page_title = "管理者/レッスンページ" %>

<%= link_to "レッスン追加ページへ", new_admins_lesson_path %>

<h2>レッスン一覧ページ</h2>

<% @categories.each do |category| %>

  <%= category.name %>

  <% category.lessons.each do |lesson| %>
    <%= link_to lesson.name, admins_lesson_path(lesson.id) %>
  <% end %>

<% end %>