<% @page_title = "管理者/カテゴリーページ" %>

<h2>カテゴリー追加</h2>

<%= form_for @category, url: admins_categories_path do |f| %>
  <%= f.text_field :name, required: true %>
  <%= f.submit "登録" %>
<% end %>

<h2>カテゴリー一覧</h2>

<% @categories.each do |category| %>
  <%= link_to category.name, admins_category_path(category.id) %>
<% end %>