<% if obj.errors.any? %>
  <div class="alert alert-danger alert-dismissible">
    <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= obj.errors.count %>件のエラーが発生しました</br>
      <% obj.errors.full_messages.each do |message| %>
        ・<%= message %></br>
      <% end %>
  </div>
<% end %>
