<% @page_title = "受講スライドページ" %>

<h2>受講スライドページ</h2>

<%= @lesson.name %>

<% if @lesson.video? %>
  <%= video_tag @lesson.video.url, controls: true, width: 1200, height: 800 %>
<% end %>

<% if Attend.exists?(user_id: current_user.id, lesson_id: @lesson.id) %>
  <%= link_to "レッスン一覧へ", categories_path %>
<% else %>
  <%= link_to "受講完了", attends_path(lesson_id: @lesson.id), method: :post %>
<% end %>