// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body-top{
	background-image: image-url("/images/top_image5.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
}

.top-container{
	position: relative;
	height: auto;
}

.top-headline{
	position: absolute;
	left: 10%;
	font-size: 80px;
	color: #999999;
}

.top-link{
	position: absolute;
	top: 110px;
	left: 10%;
}

.mobile-headline{
	position: absolute;
	left: 5%;
	color: #999999;
	margin-top: -30px;
}

.mobile-link{
	position: absolute;
	top: 10px;
	left: 5%;
}

.about-text{
	font-size: 18px;
}

.pics-container{
	margin-top: 50px;
}

.about-image{
	display: none;
}

